<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

          <!-- Google result text-->
        <title>Haseeb Chaudhary creative developer</title>
        <!-- Google result description-->
        <meta name="description" content="I build Web Applications, creatively">

        <!--<meta property="og:title" content="Le Wagon - The French innovative coding school">
        <meta property="og:image" content="facebook-card.jpg">
        <meta property="og:description" content="Le Wagon is the best French coding school for entrepreneurs. Checkout by yourself the projects of our students. You will be impressed.">
        <meta property="og:site_name" content="Le Wagon"/>-->
        
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

        <!-- Fontawesome -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    </head>

    <div class="container">
        <div class="card-standard__white text-center__simple">
            
                <div class="text-normal__greyand31px">
                <p>ABOUT</p>
                </div>


                <br>
                <br>

                
                <table class="text-standard__size--15px">
                    <tbody>
                        <tr>
                            <td class="text-center_middleandcentre">
                                
                                <div class="text-aligned__greyandmedium18px">                            
                                    

                                    <p> I'm a freelance pentester (sometimes referred to as an "ethical hacker") and security architect. A lot of my work involve emulating hacker attacks, reviewing the security (or lack of) of the target organisation. Often, I´m required to solution design or architect the future security vision of a specific product. A few of my findings and security articles are published here and there.</p>

                                    <p> Whats slightly different about me is I can hack a target, design an architecture vision and code a solution.</p>

                                    When dealing with my customers directly I use my London based LTD company. However, sometimes I also supplement other security teams in an organisation or at times security testing and design is part of a larger scope.
                                    </p>
                                </div>
                            </td>
                            <td>                          
                                <div class="card-overlay__standard">
                                    <%= image_tag("me.jpg", class: "object-fit_cover") %>
                                    <div class="overlay-text">
                                        <h1>"My inspiration comes from thinking about problems from a different perspective, often from my scientific background in the physical sciences."</h1>
                                        <p>Mixing deep tech, design and ethical hacking has been a life long journey. Don't be shy about getting intouch.</p>
                                            <div class="team-title">Haseeb Chaudhary
                                            </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                

            
        </div>
    </div>
</html>