<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

          <!-- Google result text-->
        <title>Haseeb Chaudhary creative developer</title>
        <!-- Google result description-->
        <meta name="description" content="I build Web Applications, creatively">

        <!--<meta property="og:title" content="Le Wagon - The French innovative coding school">
        <meta property="og:image" content="facebook-card.jpg">
        <meta property="og:description" content="Le Wagon is the best French coding school for entrepreneurs. Checkout by yourself the projects of our students. You will be impressed.">
        <meta property="og:site_name" content="Le Wagon"/>-->
        
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

        <!-- Fontawesome -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    </head>

    <div class="container">
        <div class="card-standard__white text-center__simple">
            
                <div class="text-normal__grey--verylarge">
                <p>Haseeb Chaudhary</p>
                </div>


                <br>
                <br>

                
                <table class="text-standard__size--15px">
                    <tbody>
                        <tr>
                            <td class="text-center_middleandcentre">
                                <div class="text-normal__greyand31px">
                                    <p>Full-Stack Developer</p>
                                </div>
                                <div class="text-normal__greyandmedium18px">                            
                                    <p> My story...I started life as a cyber security engineer and then learnt to code.  
                                    </p>
                                    <p> I like to develop web applications, mostly using Ruby on Rails and JavaScript. Full Stack Development is my thing.
                                    </p>
                                    <p> Mostly I'm based in Barcelona with my family but work stuff often means I'm scattered around Europe.
                                    </p>
                                </div>
                            </td>
                            <td>                          
                                <div class="card-overlay__standard">
                                    <%= image_tag("cool_pic.jpg", class: "object-fit_cover") %>
                                    <div class="overlay-text">
                                        <h1>"I often travel to gain inspiration from architecture, the magic of geometric design and the natural world."</h1>
                                        <p>Mixing deep tech and creative design is a live long journey. Don't be shy about getting intouch.</p>
                                            <div class="team-title">Haseeb Chaudhary - Inspired Design
                                            </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                

            
        </div>
    </div>
</html>