<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <!-- Google result text-->
        <title>Erika Chaudhary creative writer</title>
        <!-- Google result description-->
        <meta name="description" content="I write about personal experiences within a humanist and global context">

        <!--<meta property="og:title" content="Le Wagon - The French innovative coding school">
        <meta property="og:image" content="facebook-card.jpg">
        <meta property="og:description" content="Le Wagon is the best French coding school for entrepreneurs. Checkout by yourself the projects of our students. You will be impressed.">
        <meta property="og:site_name" content="Le Wagon"/>-->

     

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>

<body>
  <div class="homepage-hero-module">
    <div class="video-container">
      <div class="filter"></div>
      <video autoplay loop muted playsinline class="fillWidth">
        <source src="videos/Writing-Working.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="videos/Writing-Working.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
      </video>
      <div class="poster hidden">
        <img src="Writing-Working.jpg" alt="">
      </div>
    </div>

  </div>

<!-- Below is the contact form I built which could be used -->
<!-- <%#=  render 'shared/contact-form-minimal' %> -->




<!-- .wrapper
  .scroll-list
    .scroll-list__wrp.js-scroll-content.js-scroll-list
      - for (i = 0; i <= 25; i++)
        .scroll-list__item.js-scroll-list-item -->




<div class="text-normal__grey text-center__simple padding-aroundtext__medium">

<form action="https://formspree.io/haseebchaudhary@gmail.com" method="POST" id="form1">


           
            <p class="text-normal__greyand31px"> Don't be shy about getting intouch </p> <br>
            Your name:<br>
            <input 
                type="text" 
                name="name"
                style="background-color:white; 
              vertical-align:9px;color: #4F4F4F">
              <br>
              <br>
            Your email addy:<br>
            <input 
                type="text" 
                name="emailaddy"
                style="background-color:white; 
              vertical-align:9px;color: #4F4F4F">
            <br>
            <br>
            Message:<br>
     
            <textarea 
            style="background-color:white; 
              vertical-align:9px;color: #4F4F4F;opacity: 0.3"
            name="message"
            
            ></textarea>
            <br>
            
            </form> 
          
            <br>
            
            <div class="text-normal__grey">
            <button class="btn-ghost__medium text-normal__grey" type="submit" form="form1" value="Submit">Submit</button>
            </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

