<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

          <!-- Google result text-->
        <title>Haseeb Chaudhary creative developer</title>
        <!-- Google result description-->
        <meta name="description" content="I build Web Applications, creatively">

        <!--<meta property="og:title" content="Le Wagon - The French innovative coding school">
        <meta property="og:image" content="facebook-card.jpg">
        <meta property="og:description" content="Le Wagon is the best French coding school for entrepreneurs. Checkout by yourself the projects of our students. You will be impressed.">
        <meta property="og:site_name" content="Le Wagon"/>-->

<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

    </head>
  <body>
 
    <div class="container bg-white">
      
      <div class="centerimage"><%= render  "shared/banner-image" %>
        </div>
      
    </div>
  </body>
</html>
<!--This is a comment. Comments are not displayed in the browser-->
