

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

          <!-- Google result text-->
        <title>Haseeb Chaudhary creative developer</title>
        <!-- Google result description-->
        <meta name="description" content="I build Web Applications, creatively">

        <!--<meta property="og:title" content="Le Wagon - The French innovative coding school">
        <meta property="og:image" content="facebook-card.jpg">
        <meta property="og:description" content="Le Wagon is the best French coding school for entrepreneurs. Checkout by yourself the projects of our students. You will be impressed.">
        <meta property="og:site_name" content="Le Wagon"/>-->

<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    
    </head>
<body>



<table border="1" align="center" width="70%">
<caption>Picture Gallery</caption>
<tr>
<td>
<a>
<img src="/images/livingroombefore_small.jpg" alt="front_bedroom" width="300" height="300"> 
<p> living room </p>
</a>
</td>

<td>
<a>
<img src="/images/hallway-before_small.jpg" alt="front_bedroom" width="300" height="300"> 
<p>Upstairs hallway</p>
</a>
</td>
<td>
<a>
<img src="/images/loft_small.jpg" alt="front_bedroom" width="300" height="300">
<p></p>
</a>
</td>
</tr>

<tr>
<td>
<br>
<a>
<img src="/images/wk3kitchen_small.jpg" alt="front_bedroom" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/garden_wk3_small.jpg" alt="front_bedroom" width="300" height="300"> 
</a>

</td>
<td>
<br>
<a>
<img src="/images/front_bedroom_small.jpg" alt="front_bedroom" width="300" height="300"> 
</a>
</td>
</tr>


<tr>
<td>
<br>
<a>
<img src="/images/bathroom.jpg" alt="front_bedroom" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/bedroom_back.jpg" alt="front_bedroom" width="300" height="300"> 
</a>

</td>
<td>
<br>
<a>
<img src="/images/entrance.jpg" alt="front_bedroom" width="300" height="300"> 
</a>
</td>
</tr>




<tr>
<td>
<br>
<a>
<img src="/images/entrance2.jpg" alt="front_bedroom" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/hallway_wk2.jpg" alt="front_bedroom" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/outside.jpg" alt="front_bedroom" width="300" height="300"> 
</a>
</td>
</tr>



<tr>
<td>
<br>
<a>
<img src="/images/wk2bedroomback.jpg" alt="front_bedroom" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/wk2bedroomback2.jpg" alt="front_bedroom" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/fireplace.jpg" alt="front_bedroom" width="300" height="300"> 
</a>
</td>
</tr>



<tr>
<td>
<br>
<a>
<img src="/images/shed.jpg" alt="front_bedroom" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/wk3kitchen.jpg" alt="front_bedroom" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/garden_future.jpg" alt="front_bedroom" width="300" height="300"> 
</a>
<p>Target design.
</p>
</td>
</tr>



<tr>
<td>
<br>
<a>
<img src="/images/staircase_before.jpg" alt="front_bedroom" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/partywall.jpg" alt="front_bedroom" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/no_roof.jpg" alt="front_bedroom" width="300" height="300"> 
</a>
</td>
</tr>



<tr>
<td>
<br>
<a>
<img src="/images/hallway_wk4.jpg" alt="front_bedroom" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/chinese_writing.jpg" alt="front_bedroom" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/stairslights.jpg" alt="front_bedroom" width="300" height="300"> 
</a>
</td>
</tr>




<tr>
<td>
<br>
<a>
<img src="/images/silver_grey_rads.jpg" alt="front_bedroom" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/queen_julian.jpg" alt="queen_julian" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/steel_arrived.jpg" alt="front_bedroom" width="300" height="300"> 
</a>
</td>
</tr>



<tr>
<td>
<br>
<a>
<img src="/images/chinesebuilders.jpg" alt="front_bedroom" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/loftbricks.jpg" alt="queen_julian" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/lettherebelight.jpg" alt="front_bedroom" width="300" height="300"> 
</a>
</td>
</tr>

<tr>
<td>
<br>
<a>
<img src="/images/backbuild2.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/backbuild.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/loft_wk7.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
</tr>


<tr>
<td>
<br>
<a>
<img src="/images/tiles_chinese2.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/loft_chimney.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/stairs.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
</tr>



<tr>
<td>
<br>
<a>
<img src="/images/extension_day1.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/extension2_day1.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/loftwk9.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
</tr>



<tr>
<td>
<br>
<a>
<img src="/images/loft_skylight2.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/stairs_wk9.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/tiles_chinese.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
</tr>



<tr>
<td>
<br>
<a>
<img src="/images/gatton_rd.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/loft4_wk10.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/loft1_wk10.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
</tr>



<tr>
<td>
<br>
<a>
<img src="/images/loft2_wk10.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/loft3_wk10.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/loft1_wk10_end.jpeg" alt="wk6" width="300" height="300"> 
</a>
</td>
</tr>


<tr>
<td>
<br>
<a>
<img src="/images/loft2_wk10_end.jpeg" alt="wk6" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/loft3_wk10_end.jpeg" alt="wk6" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/loft4_wk10_end.jpeg" alt="wk6" width="300" height="300"> 
</a>
</td>
</tr>

<tr>
<td>
<br>
<a>
<img src="/images/loft5_wk10_end.jpeg" alt="wk6" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/loft6_wk10_end.jpeg" alt="wk6" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
 <img src="/images/loft_wk10_firstpaint.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
</tr>



<tr>
<td>
<br>
<a>
<img src="/images/loft_wk10_pic1.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/loft_wk10_pic2.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
 <img src="/images/lof_wk10_pic3.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
</tr>



<tr>
<td>
<br>
<a>
<img src="/images/loft_wk10_pic4.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/loft_wk10_pic5.jpeg" alt="wk6" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/wk11_pic1.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
</tr>




<tr>
<td>
<br>
<a>
<img src="/images/wk11_pic2.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/wk11_pic3.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
<td>
<br>
<a>
<img src="/images/wk11_pic4.jpg" alt="wk6" width="300" height="300"> 
</a>
</td>
</tr>














</table> 
<br>
 


</body>
</html>







