

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

          <!-- Google result text-->
        <title>Haseeb Chaudhary creative developer</title>
        <!-- Google result description-->
        <meta name="description" content="I build Web Applications, creatively">

        <!--<meta property="og:title" content="Le Wagon - The French innovative coding school">
        <meta property="og:image" content="facebook-card.jpg">
        <meta property="og:description" content="Le Wagon is the best French coding school for entrepreneurs. Checkout by yourself the projects of our students. You will be impressed.">
        <meta property="og:site_name" content="Le Wagon"/>-->

<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    
    </head>
<body>



<div class="container">
    <div class="card-standard__white text-center__simple">
        <div class="row" id="about-card-container">
            <div class="text-normal__grey--verylarge">
                <p>Projects</p>
            </div>
            <div class="text-normal__greyandmedium18px">
                <p>Just a small selection of creative building projects ...click and explore</p>
                <br>
            </div>
            <div class="col-xs-12 col-lg-4">
              

               <a target="_blank" href= <%=ldnsouth_path %> >



                <div class="card-overlay__standard">
                    <%= image_tag("bohemian_london_south.jpg", class: "object-fit_cover") %>
                    <div class="overlay-text">
                        <h1>"Bohemian Home in London South."</h1>
                        <p>A London Vicorian terrace which has been given some soul back.</p>
                            <div class="team-title">Haseeb Chaudhary - Marpillero
                            </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-xs-12 col-lg-4">
                <a target="_blank" href="https://marpillero.herokuapp.com">
                <div class="card-overlay__standard">
                    <%= image_tag("antoni_griera.jpg", class: "object-fit_cover") %>
                    <div class="overlay-text">
                        <h1>"A House of Soul Barcelona, mountains and the sea."</h1>
                        <p>A beautiful house designed and built from scrath in the mountains overlooking Barcelona.</p>
                            <div class="team-title">Creative. Sustainable. We design homes for layman pioneers.
                            </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-xs-12 col-lg-4">
                <a target="_blank" href="https://ceziam.com/articles">
                <div class="card-overlay__standard">
                    <%= image_tag("blog-app2.jpg", class: "object-fit_cover") %>
                    <div class="overlay-text">
                        <h1>"Expand your world and reach the world."</h1>
                        <p>A easy to use and beautiful bloggging coded from scratch.</p>
                            <div class="team-title">Creative. Sustainable. We design homes for layman pioneers.
                            </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>


</body>
</html>







