<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

          <!-- Google result text-->
        <title>Haseeb Chaudhary creative developer</title>
        <!-- Google result description-->
        <meta name="description" content="I build Web Applications, creatively">

        <!--<meta property="og:title" content="Le Wagon - The French innovative coding school">
        <meta property="og:image" content="facebook-card.jpg">
        <meta property="og:description" content="Le Wagon is the best French coding school for entrepreneurs. Checkout by yourself the projects of our students. You will be impressed.">
        <meta property="og:site_name" content="Le Wagon"/>-->
        
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

        <!-- Fontawesome -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    </head>

    <div class="container">
        <div class="card-standard__white text-center__simple">
            
                <div class="text-normal__greyand31px">
                <p>TOOLS</p>
                </div>
                <br>
                <br>
                <table class="text-standard__size--15px">
                    <tbody>
                        <tr>
                            <td class="text-center_middleandcentre">
                                
                                <div class="text-aligned__greyandmedium18px">                            

                                    <p>                             
                                    During the course of my work I often develop custom tools to help me get the job done. Some of them have been published, such as:
                                    </p>

                                    <p>Ceziam - A attack surface assessment tool, DNS resolves and brutes forces name resolution possibility and connects to Shodan.io for enhanced attack surface enumeration</p>
                                    <p>ThreatMod - Used to enumerate and mitigate  threats using OWASP Application Security</p>
                                </div>
                            </td>
                            <td>                          
                                <div class="card-overlay__elongated">
                                    <%= image_tag("me.jpg", class: "object-fit_cover") %>
                                    <div class="overlay-text">
                                        <h1>"It´s useful to look at application security design challenges from an offensive cyber security persective."</h1>
                                        <p>Expertise across the technical stack as well as the design expertise, from small to fully resilient production environments, is super useful when reviewing the security of a target organisation.</p>
                                            <div class="team-title">Haseeb Chaudhary
                                            </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                

            
        </div>
    </div>
</html>